* {
  border: 0;
  padding: 0;
  margin: 0;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-family: sans-serif;
  width: 100%;
  height: 100vh;
}
h2 {
  font-size: 60px;
  color: #fff;
  background-color: #ff69b4;
  padding: 8px 24px;
  border-radius: 16px;
}

div:nth-child(1){
  background-image: url(https://images.unsplash.com/photo-1528220704592-69af2162a4c8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b140cac110704c9ab060a246cc70f852&auto=format&fit=crop&w=1500&q=80);
  background-size: cover;
  background-position: center;
}
div:nth-child(2){
  background-color: rgba(255,255,0)
}
div:nth-child(3){
  background-image: url(https://images.unsplash.com/photo-1433888104365-77d8043c9615?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4768039fb5b8fd52fcb3f984e4865e7a&auto=format&fit=crop&w=1506&q=80);
  height: 400px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
div:nth-child(4){
  background-color: aqua;
}
div:nth-child(5){
  background-image: url(https://images.unsplash.com/photo-1481456384069-0effc539ab7e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6e82bb43d4428126504304646c8c6ed4&auto=format&fit=crop&w=1500&q=80);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}